<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
	
	<head>
		<title th:text="#{user.roles.browser.title}">Title user roles</title>
	</head>
<body>
	<section layout:fragment="content">
		<div class="main container">
			<h2 th:text="#{roles.list.title}">
				Manage Roles
			</h2>
			<form th:object="${role}" th:action="@{/roles/create.do}" method="post">
				<div class="row">
					
				</div>
				<div class="table-responsive table-hover">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tr th:each="otherRole : ${rolesList}" th:object="${otherRole}">
							<td th:text="${otherRole.id}">id</td>
							<td th:text="${otherRole.name}">Name</td>
							<td><a th:href="@{/roles/delete.do?id=__${otherRole.id}__}" ><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? error"/>
								<ul th:if="${#fields.hasErrors('name')}" class="error">
								 	<li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
								</ul>
							</td>
						</tr>
					</table>
				</div>
				<input type="submit" class="btn btn-default" value="Add role" />
			</form>
		</div>
	</section>
	</body>
</html>