<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">

<head>
	<title th:text="#{project.list.browser.title}">List Projects</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="main container">
			<h2 th:text="#{project.list.title}">Projects List</h2>

			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Code</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Tasks</th>
							<th>Creator</th>
							<th>Users</th>
						</tr>
					</thead>
					<tr th:each="project : ${projects}" th:object="${project}">
						<td th:text="*{id}">1</td>
						<td th:text="*{name}"></td>
						<td th:text="*{code}"></td>
						<td th:text="*{{start}}">01-25-2015</td>
						<td th:text="*{{end}}">01-25-2016</td>
						<td>
							<table>
								<tr th:each="task : *{tasks}">
									<td th:text="${task.name}">Task 1</td>
								</tr>
							</table>
						</td>
						<td
							th:text="${project.creator.firstName}+'-'+${project.creator.lastName}">Alexander
							- Kirilov</td>
						<td>
							<table id="assigned-users">
								<tr th:each="assignedUser : ${project.assignedUsers}">
									<td
										th:text="${assignedUser.firstName}+'-'+${assignedUser.lastName}">
										Plamena - Dimitrova</td>
									<td>
										<ul>
											<li th:each="role : ${assignedUser.roles}"
												th:text="#{'role.name.'+${role.name}}">Role</li>
										</ul>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<a class="btn btn-default" th:href="@{/projects/create}">Create a
				new project</a>
		</div>
	</section>
</body>
</html>