<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
	
	<head>
		<title th:text="#{user.form.browser.title}" >Title</title>
		<script type="text/javascript" th:inline="text">
			$(document).ready(function() {
				$('.date-picker').datepicker({dateFormat: "[[#{date.format}]]"});
				$('#user-roles').chosen();
			});
		</script>
	</head>
	<body>
		<section layout:fragment="content">
			<div class="main container">
				<h2 th:text="#{user.form.title}">
					Title
				</h2>
		
				<form role="form" th:action="@{/users/create.do}" method="post" th:object="${user}">
					<div class="form-group">
						<label th:text="#{user.form.firstName}+':'" for="user-firstName">
							First Name
						</label>
						<input id="user-firstName" type="text" th:field="*{firstName}" />
					</div>
					<select th:field="*{gender}">
						<option th:each="gender : ${gendersList}" th:text="${gender}" th:value="${gender}">
							Gender
						</option>
					</select>
					<div class="form-group">
						<label for="user-lastName" th:text="#{user.form.lastName}">
							Last Name
						</label>
						<input id="user-lastName" type="text" th:field="*{lastName}" />
					</div>
					<div class="form-group">
						<label for="user-birthday" th:text="#{user.form.birthday}">
							Birth Day
						</label>
						<input id="user-birthday" class="date-picker" type="text" th:field="*{birthDay}" />
					</div>
					<div class="form-group">
						<label for="user-roles" th:text="#{user.form.roles}">
							Roles
						</label>
						<select id="user-roles" th:field="*{roles}" multiple="multiple">
							<option th:each="role : ${rolesList}" th:value="${{role}}" th:text="${role.name}" />
						</select>
					</div>
					<div class="form-group">
						<label for="user-submit" th:text="#{user.form.submit}">
							Submit
						</label>
						<input id="user-submit" class="btn btn-default" type="submit" />
					</div>
				</form>
			</div>
		</section>
	</body>
</html>