<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<script th:src="@{/resources/js/jquery-1.11.2.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.js}" ></script>
	<script th:src="@{/resources/js/bootstrap.js}" ></script>
	<script th:src="@{/resources/js/chosen.jquery.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}"  />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap-theme.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/chosen.css}" />

<title th:text="#{user.form.browser.title}" >Title</title>
	<script type="text/javascript" th:inline="text">
		$(document).ready(function() {
			$('.date-picker').datepicker({dateFormat: "dd/mm/yy"});
			$('#user-roles').chosen();
		});
	</script>
</head>
<body>
	<div class="container">
		<h2>
			<spring:message code="user.form.title" />
		</h2>

		<form:form role="form" action="${pageContext.request.contextPath}/users/create.do" method="post" commandName="user">
			<div class="form-group">
				<label for="user-firstName">
					<spring:message code="user.form.firstName" />:
				</label>
				<form:input id="user-firstName" type="text" path="firstName" />
			</div>
			<form:select path="gender">
				<form:options items="${gendersList}"/>
			</form:select>
			<div class="form-group">
				<label for="user-lastName">
					<spring:message code="user.form.lastName" />:
				</label>
				<form:input id="user-lastName" type="text" path="lastName" />
			</div>
			<div class="form-group">
				<label for="user-birthday">
					<spring:message code="user.form.birthday" />:
				</label>
				<form:input id="user-birthday" class="date-picker" type="text" path="birthDay" />
			</div>
			<div class="form-group">
				<label for="user-roles">
					<spring:message code="user.form.roles" />:
				</label>
				<form:select id="user-roles" path="roles" multiple="true">
					<form:options items="${rolesList}" itemValue="id" itemLabel="name" />
				</form:select>
			</div>
			<div class="form-group">
				<label for="user-submit">
					<spring:message code="user.form.submit" />:
				</label>
				<input id="user-submit" class="btn btn-default" type="submit" />
			</div>
		</form:form>
	</div>
</body>
</html>