<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
	
<head>
	<title th:text="#{user.list.browser.title}">Title users list</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="main container">
			<h2 th:text="#{user.list.title}">
				List Users
			</h2>
	
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Date</th>
							<th>Birth Day</th>
							<th>Sex</th>
							<th>Roles</th>
						</tr>
					</thead>
					<tr th:each="user : ${usersList}" th:object="${user}">
						<td th:text="*{id}">id</td>
						<td th:text="*{firstName}">firstName</td>
						<td th:text="*{lastName}">lastName</td>
						<td th:text="*{{birthDay}}">bday</td>
						<td th:text="*{gender}">sex</td>
						<td>
							<table>
								<tr th:each="role : *{roles}">
									<td th:text="#{'role.name.'+${role.name}}">
										Role
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<a class="btn btn-default" th:href="@{/users/create}">Create a new user</a>
		</div>
	</section>
	</body>
</html>